# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-change-this-key-in-production
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings (PostgreSQL / MySQL / SQLite)
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# CORS Config (Cho phép React/Vite kết nối)
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173